// 给项目提供sass全局变量
// $primary-color: #1890ff;

$primary-color-red: #ff2e4d;  // 小红书的红色
// 字体颜色
$text-color: #fff;
// 普通灰色字体
$gray-color: #333;

// 激活状态的颜色
$active-color: rgb(248 248 248);

// 全局背景色
$layout-body-background: rgb(255 255 255);
// 左侧菜单栏背景色
$layout-sider-background: $layout-body-background;
// 左侧菜单的宽度
$layout-sider-width: 256px;

// 顶部导航栏高度
$layout-header-height: 72px;


// 搜索框的圆角
$input-border-radius: 12px;